Â©Copyright Asa Myrvik, Jorge Barrios, Ryan Watson, Jeramiah Hanson 2017

In [134]:
import pandas as pd

In [140]:
import requests
import csv

Imports our various tools
Pandas for dataframing
requests getting info
csv for csv traversal

In [136]:
earl = 'http://api.inaturalist.org/v1/observations?year=2016'

The base url for the api which specifies the year

In [172]:
names = []
fp=csv.reader(open('spLst.csv','r'))
taxons=[]
url=""
for line in fp:
    line=line[0].split(': ')
    names.append(line[1])
    line=line[1].split(' ')
    for i in range(len(line)):
        tmp=len(line)
        userinp=" ".join(line)
        if i==0:
            url="http://api.inaturalist.org/v1/taxa/autocomplete?q="+line[i]
        if i!=0:
            url+=line[i]
        if i<len(line)-1:
            url+="%20"
    df=pd.read_json(url)
    ls=[]

    for i in range(len(df.index)):
        for j in range(len(df.columns)):
            ls.append(df.iloc[i,j])
    for i in range(len(ls)):
        if type(ls[i]) is dict:
            for val in ls[i]:
                if val == 'name':
                    if ls[i][val]==userinp:
                        taxons.append(ls[i]['id'])
        else:
            continue

This code fetches a list of numerical id codes corresponding to taxon names, also the variable "names" is created to store the string names for later use

In [160]:
data_frams = []

In [161]:
for i in range(12):
    month_lst = []
    for L in taxons:
        month_lst.append(pd.read_json(earl + '&month=' + str(i+1) + '&taxon_id=' + str(L)))
    data_frams.append(month_lst)

This code builds a list of lists, each containind data frames with the desired information

In [168]:
months = ['January', 'February', 'March', 'April', 'May', 'June','July','August', 'September','October','November', 'December']

In [201]:
table = []
for i in range(len(data_frams)):
    mon = []
    for j in range(len(data_frams[i])):
        if len(data_frams[i][j]) != 0:
            mon.append(data_frams[i][j]['total_results'][0])
        else:
            mon.append(0)
    table.append(mon)

Makes and transposes a data frame using the month list and names list as column and row headers

In [215]:
tab = pd.DataFrame(table, columns= names, index = months)

In [217]:
tab.T

,January,February,March,April,May,June,July,August,September,October,November,December
Danaus plexippus,102,175,266,304,216,224,416,742,984,1249,584,265
Hyles lineata,1,6,73,59,43,26,67,70,50,16,5,1
Zerene cesonia,3,1,1,7,4,4,9,13,48,87,109,20
Papilio multicaudata,0,2,4,11,14,33,32,32,31,21,5,3
Agraulis vanillae,29,33,42,80,88,97,192,243,348,698,387,75
Papilio cresphontes,1,5,10,9,18,40,54,104,73,76,12,3
Strymon melinus,4,29,16,128,99,100,123,162,219,240,29,2
Vanessa cardui,12,24,32,61,47,97,121,86,76,104,164,38
Hylephila phyleus,5,11,40,72,65,117,148,223,292,279,128,17
Danaus gilippus,15,9,12,20,31,55,92,118,201,364,244,82